<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script th:src="@{/js/ajaxTest.js}" defer></script>
</head>
<body>
<button id="ajax1">ajax1</button>
<button id="ajax2">ajax2</button>
<button id="ajax3">ajax3</button>
<button id="ajax4">ajax4</button>
<button id="ajax5">ajax5</button>
<button id="ajax6">ajax6</button>


<div class="result">
  <div class="rs1">
    이름: <span class="name"> </span> <br>
    이메일 : <span class="email"></span>
  </div>


</div>





</body>
</html>